.talos__possibility {
    display: flex;
    flex-direction: row;
}

.talos__possibility-image {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}

.talos__possibility-image img {
  max-width: 100%;
  height: auto;
 

}

.talos__possibility-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.talos__possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71e5ff;
}

.talos__possibility-content h4:last-child {
    color: #FF8A71;
}

.talos__possibility-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
}

.talos__possibility-content p {
    text-align: justify;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
    margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
    .talos__possibility {
        flex-direction: column;
        
    }

    .talos__possibility-image {
        margin: 1rem 0rem;
    }
    .talos__possibility-content {
        margin-top: 2rem;
    }
}