.talos__header {
    display: flex;
    
}

.talos__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.talos__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.talos__header-content p {
    font-size: 20px;
    line-height: 27px;
    font-style: normal;
    color: var(--color-text);
    margin-top: 1.5rem;

}

.talos__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;

}

.talos__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.talos__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;

    background: #FF4820;
    font-size: 20px;
    font-weight:  bold;
    font-family: var(--font-family);
    font-style: normal;
    color: #fff;
    cursor: pointer;
    padding: 0 1rem;
    outline: none;
    border: none;

    border-top-right-radius: 5px;/*boto get startet es vegi sense els costats punxeguts*/
    border-bottom-right-radius: 5px;
    
}

.talos__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 2rem;
}

.talos__header-content__people img {
    width: 181.79px;
    height: 38px;
}

.talos__header-content__people p {
    font-family: var(--font-family);
    margin: 0 0 0 1rem;
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    color: #fff;
    text-align: center;
    text-align: justify;
}

.talos__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.talos__header-image img {
    width:100%;
    height: auto;
    margin-top: 4rem;
}



@media screen and (max-width: 1050px) {
    .talos__header {
        flex-direction: column;
    }

    .talos__header-content {
        margin: 0 0 3rem;
    }

}

@media screen and (max-width: 650px) {
    .talos__header h1{
        font-size: 48px;
        line-height: 60px;
    }

    .talos__header p{
        font-size: 16px;
        line-height: 24px;
    }

    .talos__header-content__people {
        flex-direction: column;
    }

    .talos__header-content__people p {
        margin: 0;
    }

    .talos__header-content__input inupt, 
    .talos__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    } 

    .talos__header-image img {
        width: 60%;
        height: 0%;
    }
}

@media screen and (max-width: 490px) {
    .talos__header h1{
        font-size:36px;
        line-height: 48px;
    }

    .talos__header p{
        font-size: 14px;
        line-height: 24px;
    }

    .talos__header-content__input inupt, 
    .talos__header-content__input button {
        font-size: 12px;
        line-height: 15px;
    } 
}